/*an override of bootstrap styling*/
#dropdownMenuButton{
  background-color: transparent !important;
  border-color: transparent !important;
}


body {
  font-family: 'Bowlby One', cursive;
  color: #F2C94C;
}

body#homepage {
background-image: url("../images/homepage-background-image.jpg");
background-size: cover;
}

body.nothome {
background-color: #219653;
}

h1 {
text-align: center;
}

.fa-bars {
  color: #F2C94C;
  font-size: 50px;
  background-color: transparent;
  text-align: right;
}
.dropdown {
  position: absolute;
  right:0;
}

.mainframe {
color: black;
}

#dropdownbkg{
  background-color: transparent;
}

.dropdown-item{
  color: #F2C94C;
  background-color: #219653;
}

.box {
  width: 100px;
  height: 25px;
  margin: 15px;
  background: #F2C94C;
  color: #219653;
  text-align: center;
  /* https://www.w3schools.com/css/css3_transitions.asp */
  transition: all .5s ease-in-out;
}

.rounded-corners {
  border-radius: 15px;
}

/* about page */
#aboutpage {
  background-image: url("../images/aboutpage-background.jpg");
  background-size: cover;
}
p { text-indent: 2em; }

.floatleft{
  float:left;
  margin: 4px;
}
img.floatright (
  float:right;
  margin: 4px;
  )
/*trying to figure out the tittle css code from figma dimensions*/
.titlebkg{
  /*position: absolute;
  width: 188.88px;
  height: 86.35px;
  left: 216px;
  top: 108.41px;
  transform: rotate(144.63deg);*/
  background-color: #6FCF97;
}

ul {
  list-style-type: square;
}
.genrelist{
  position: right;
}

/*  Dicography Page */
#discographypage {
  background-image: url("../images/discography-background.jpg");
}

.albumcover {
  height:300px;
  Width:300px;
}

.box-discography {
  width: 175px;
  height: 25px;
  margin: 15px;
  background: #F2C94C;
  color: #219653;
  text-align: center;
  /* https://www.w3schools.com/css/css3_transitions.asp */
  transition: all .5s ease-in-out;
}
/* media page */

#mediabackground {
  padding: 10px;
  background-image: url("../images/mediapage-background.jpg");
}

.mediaimage{
  height:250px;
  width:300px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
}

.labelbkg{
  padding: 10px;
  margin: 20px;
  background-color:#219653;
}
.labelrowpadding{
  padding: 10px;
}

/* .box-medialabels {
  width: 130px;
  height: 25px;
 margin: 15px;
  background: #219653;
  color: #F2C94C;
  text-align: center ;
  transition: all .5s ease-in-out;
} */

/*.tablebkg {
  background-color: #219653;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px
}
.tablepadding{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
*/
/*.sidemediaimages{
  padding-left: 15%;
}
/* Tour Page */

#tourpage {
  background-image: url("../images/tourpage-background-image.jpg");
  background-size: cover;
  color: white;
  /*opacity: .6;*/
}

#headersize {
  font-size: 25px;
}

.tourrow {
  margin-bottom: 30px;
/* offset-x / offset y / color */
  text-shadow: 2px 2px black;
}

.datecol {
  text-align: center;
}

.citycol {

}

.venuecol {}

.ticketcol {
  text-align: center;
}

/* merchpage filterizer*/
#merchbkgimage{
  background-image: url("../images/merchpage-background.jpg");
  background-size: cover;
}

/*.buttonpadding{
  padding-bottom: 10px;
} */

.merchsize{
  height:300px;
  width: 300px;

}

.container {
  overflow: hidden;
}

.filterDiv {
  background-color: transparent;
  margin:20px;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #F2C94C;
  color: #219653;
  cursor: pointer;
}

.btn:hover {
  background-color: orange;
  color:#219653;
}

.btn.active {
  background-color: #F2C94C;
  color: white;
}
